MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=gpu_aggregator
RUNPOD_API_KEY=your_runpod_api_key_here
NOVITA_API_KEY=your_novita_api_key_here
VASTAI_API_KEY=your_vastai_api_key_here
CHROME_CDP_URL=http://127.0.0.1:9222
CDP_PORT=9222
CHROME_HEADLESS=new
